<!DOCTYPE html>
<html>
  <head>
      
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">          
      </head>
<header class="jumbotron bg-warning">
    <h1>Access Denied. </h1>
    </header>


    <a href="/login" class="btn btn-primary btn-lg">Log In</a>
    <a href="/register"class="btn btn-success btn-lg">Register</a>