<!DOCTYPE html>
<html>
  <head>
    <title>Register</title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">          
      </head>
  <body>
      <div class="container">
          <% if(error && error.length > 0) { %>
        <div class="alert alert-danger" role="alert">
            <%= error %>
          </div>
          <% } %>
          </div>
    <form class="form"action="/register" method="POST">
        <div class="container">
          <h1 class="text-center">Register</h1>
          
          <hr class="style-two">

          <label for="email"><b>Email</b></label>
          <input type="email" id="email" placeholder="Enter Email" name="email" required>
      
          <label for="username"><b>Username</b></label>
          <input type="text" id="username" placeholder="Enter Username" name="username" required>
      
          <label for="password"><b>Password</b></label>
          <input type="password" id="password" placeholder="Enter Password" name="password" required>
          
          <label for="userFirstName"><b>First Name</b></label>
          <input type="text" id="firstname" placeholder="Enter First Name" name="userFirstName" required>
          
          <label for="lastname"><b>Last Name</b></label>
          <input type="text" id="lastname" placeholder="Enter Last Name" name="userLastName" required>
           
          <label for="avatar"><b>Avatar</b></label>
          <input type="text" id="avatar" placeholder="Enter URL" name="userAvatar" required>
           
  

          <div class="form-row align-items-center">
              <div class="col-auto my-1">
                <strong><label class="mr-sm-2" for="inlineFormCustomSelect">Subscription</label></strong>
                <select name="subscription"class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                  <
                  <option>Free</option>
                  <option>Paid</option>
               
                </select>
              </div>
        

    
        </script>
          <p>By creating an account you agree to our <a href="/terms" class="btn btn-primary btn-sm">Terms & Privacy</a></p>
          <button type="submit" class="btn btn-success">Register</button>
        </div>
        <br>
      
        <div class="container signin">
          <p>Already have an account? 
            </p>
            <a href="/login" class="btn btn-primary">Sign in</a>
        </div>
      </form>
      </body>
      