<% layout('layouts/boilerplate') -%>



<header class="jumbotron bg-success">
    <h1>Success! You are now a paid subscriber!</h1>
    </header>

    <a href="/" class="btn btn-lg btn-primary btn-block">Enter</a>
    <br>
