<% layout('layouts/boilerplate') -%>
<header class="jumbotron">
<h1>Unauthorized</h1>
</header>

<header class="jumbotron bg-danger" >
    <h1>You have tried to access unauthorized content!</h1>
    </header>

